//avatar
$avatar-size: 40px !default;
$avatar-large-size: 64px !default;
$avatar-large-icon: 40px !default;

//button
$button-width: 88px !default;
$button-height: 36px !default;
$button-radius: 2px !default;
$button-fab-size: 56px !default;
$button-fab-size-mini: 40px !default;
$button-fab-space: 24px !default;
$button-dense-height: 32px !default;
$button-icon-size: 40px !default;

//md-button-toggle
$button-toggle-radius: 2px !default;

//card
$card-radius: 2px !default;

//icon
$icon-size: 24px !default;

//image
$image-transition-duration: 2.2s !default;

//input
$input-size: 32px !default;

//md-input-value
$md-input-value-height: 32px !default;
$md-input-value-radius:50px !default;
$md-input-value-icon-size: 24px !default;
$md-input-value-icon-font: $md-input-value-icon-size - 4px !default;

//md-input-ref


//menu
$menu-base-width: 95px !default;

//radio
$radio-size: 20px !default;
$radio-ripple-size: 48px !default;

//select
$select-height: 32px !default;

//checkbox
$checkbox-size: 20px !default;
$checkbox-touch-size: 48px !default;

//snackbar
$snackbar-height: 48px !default;
$snackbar-padding: 14px !default;
$snackbar-space: $snackbar-height / 2 !default;

//switch
$switch-width: 34px !default;
$switch-height: 14px !default;
$switch-thumb-size: 20px !default;
$switch-ripple-size: 48px !default;


//tab
$tab-width: 72px !default;
$tab-max-width: 264px !default;

//tooltip
$tooltip-height: 20px !default;

//chip
$chip-height: 32px !default;
$chip-icon-size: 24px !default;
$chip-icon-font: $chip-icon-size - 4px !default;

