//avatar
$avatar-size: 4rem !default;
$avatar-large-size: 6.4rem !default;
$avatar-large-icon: 4rem !default;

//button
$button-width: 8.8rem !default;
$button-height: 3.6rem !default;
$button-radius: .2rem !default;
$button-fab-size: 5.6rem !default;
$button-fab-size-mini: 4rem !default;
$button-fab-space: 2.4rem !default;
$button-dense-height: 3.2rem !default;
$button-icon-size: 4rem !default;

//md-button-toggle
$button-toggle-radius: 0.1666rem !default;

//card
$card-radius: 2px !default;

//icon
$icon-size: 2.4rem !default;

//image
$image-transition-duration: 2.2s !default;

//input
$input-size: 2.6666rem !default;

//md-input-value
$md-input-value-height: 2.6666rem !default;
$md-input-value-radius:4.16666rem !default;
$md-input-value-icon-size: 2rem !default;
$md-input-value-icon-font: $md-input-value-icon-size - 0.3333rem !default;

//md-input-ref


//menu
$menu-base-width: 95px !default;

//radio
$radio-size: 20px !default;
$radio-ripple-size: 48px !default;

//select
$select-height: 32px !default;

//checkbox
$checkbox-size: 2rem !default;
$checkbox-touch-size: 4.8rem !default;

//snackbar
$snackbar-height: 48px !default;
$snackbar-padding: 14px !default;
$snackbar-space: $snackbar-height / 2 !default;

//switch
$switch-width: 34px !default;
$switch-height: 14px !default;
$switch-thumb-size: 20px !default;
$switch-ripple-size: 48px !default;


//tab
$tab-width: 72px !default;
$tab-max-width: 264px !default;

//tooltip
$tooltip-height: 20px !default;

//chip
$chip-height: 32px !default;
$chip-icon-size: 24px !default;
$chip-icon-font: $chip-icon-size - 4px !default;

