.md-button {
  min-width: $button-width/1.2;
  min-height: $button-height/1.2;
  margin: .5rem .666rem;
  padding: 0 1.333rem;
  display: inline-block;
  position: relative;
  overflow: hidden;
  user-select: none;
  cursor: pointer;
  outline: none;
  background: none;
  border: 0;
  border-radius: $button-radius/1.2;
  transition: $swift-ease-out;
  color: currentColor;
  font-family: inherit;
  font-size: 1.4rem;
  font-style: inherit;
  font-variant: inherit;
  font-weight: 500;
  letter-spacing: inherit;
  line-height: $button-height/1.2;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  vertical-align: top;
  white-space: nowrap;

  &:focus {
    outline: none;
  }

  &::-moz-focus-inner {
    border:0;
  }

  &:hover {
    &:not([disabled]) {
      &:not(.md-raised) {
        background-color: rgba(#999, .2);
        text-decoration: none;
      }

      &.md-raised {
        background-color: rgba(#000, .12);
      }
    }
  }

  &:active:not([disabled]) {
    background-color: rgba(#999, .4);
  }

  &.md-raised:not([disabled]) {
    box-shadow: $material-shadow-2dp;
  }

  &.md-dense {
    min-height: $button-dense-height/1.2;
    line-height: $button-dense-height/1.2;
    font-size: 1.3rem;
  }

  &.md-icon-button,
  &.md-fab {
    .md-icon {
      position: absolute;
      top: 1px;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }

  &.md-icon-button {
    width: $button-icon-size;
    min-width: $button-icon-size;
    height: $button-icon-size;
    margin: 0 .5rem;
    padding: .666rem;
    border-radius: 50%;
    line-height: 2rem;

    &:not([disabled]) {
      &:hover {
        background: none;
      }
    }

    &.md-dense {
      width: $button-dense-height;
      min-width: $button-dense-height;
      height: $button-dense-height;
      min-height: $button-dense-height;
      padding: .3333rem;
      line-height: $button-dense-height;
    }

    .md-ink-ripple {
      border-radius: 50%;

      .md-ripple {
        top: 0 !important;
        right: 0 !important;
        bottom: 0 !important;
        left: 0 !important;
      }
    }

    .md-ripple.md-active {
      animation-duration: .9s;
    }
  }

  &.md-fab {
    width: $button-fab-size/1.2;
    height: $button-fab-size/1.2;
    padding: 0;
    min-width: 0;
    overflow: hidden;
    box-shadow: $material-shadow-2dp;
    border-radius: $button-fab-size;
    line-height: $button-fab-size/1.2;
    background-clip: padding-box;
    transition: $swift-ease-out;
    transition-property: background-color,
                         box-shadow,
                         transform;

    &:hover,
    &:focus {
      box-shadow: $material-shadow-5dp;
    }

    &.md-mini {
      width: $button-fab-size-mini/1.2;
      height: $button-fab-size-mini/1.2;
      line-height: $button-fab-size-mini/1.2;
    }

    .md-ink-ripple {
      border-radius: $button-fab-size/1.2;
    }
  }

  &[disabled] {
    color: rgba(#000, .26);
    cursor: default;
    pointer-events: none;

    &.md-raised,
    &.md-fab {
      background-color: rgba(#000, .12);
    }

    &.md-fab {
      box-shadow: none;
    }
  }

  &:after {
    transition: $swift-ease-out;
  }

  .md-ink-ripple {
    border-radius: $button-radius/1.2;
    background-clip: padding-box;
    overflow: hidden;
  }
}

.md-button.md-icon-button,
.md-button.md-fab {
  .md-icon {
    display: block;
  }
}

.md-fab,
.md-speed-dial {
  &.md-fab-top-left,
  &.md-fab-top-center,
  &.md-fab-top-right,
  &.md-fab-bottom-left,
  &.md-fab-bottom-center,
  &.md-fab-bottom-right {
    margin: 0;
    position: absolute;
    z-index: 10;
  }

  &.md-fab-top-left {
    top: $button-fab-space/1.2;
    left: $button-fab-space/1.2;
  }

  &.md-fab-top-center {
    top: $button-fab-space/1.2;
    left: 50%;
    transform: translateX(-50%);
  }

  &.md-fab-top-right {
    top: $button-fab-space/1.2;
    right: $button-fab-space/1.2;
  }

  &.md-fab-bottom-left {
    bottom: $button-fab-space/1.2;
    left: $button-fab-space/1.2;
  }

  &.md-fab-bottom-center {
    bottom: $button-fab-space/1.2;
    left: 50%;
    transform: translateX(-50%);
  }

  &.md-fab-bottom-right {
    right: $button-fab-space/1.2;
    bottom: $button-fab-space/1.2;
  }
}

.md-button-tooltip {
  &.md-tooltip-top {
    margin-top: -.666rem;
  }

  &.md-tooltip-right {
    margin-left: .666rem;
  }

  &.md-tooltip-bottom {
    margin-top: .666rem;
  }

  &.md-tooltip-left {
    margin-left: -.666rem;
  }
}
