.md-pagination {
  color: #404040;
  .md-select {
    width: auto;
    min-width: .36rem;
    margin: 0 .1rem;
  }
  .md-pagination-info {
    min-width: .7rem;
    text-align: center;
  }
  .md-button {
    min-width: .3rem;
    margin: 0px;
  }
}

.md-grid {
  .md-grid-empty-row {
    td,
    th {
      height: 0!important;
      padding: 0!important;
      max-height: 0!important;
    }
  }
  border: 1px solid #c7c7c7;
  background: #fff;
  .md-grid-wrapper {
    width: 100%;
    border-bottom: none;
  }
  .md-grid-message {}
  .md-grid-table {
    min-width: 100%;
    border-collapse: collapse;
    table-layout: fixed;

    td,
    th {
      border-bottom: 1px solid #ededed;
      border-right: 1px solid #ededed;
      padding-right: 0.04rem;
      padding-left: 0.04rem;

      &.md-grid-selection {
        width: 40px;
        position: relative;
        vertical-align: middle;
        text-align: center;
        padding-left: 0 !important;
        padding-right: 0 !important;
        .md-checkbox {
          margin: 0;
        }
      }
    }
    td:last-child,
    th:last-child {
      border-right-width: 0;
    }
    tr:last-child td,
    tr:last-child th {
      border-bottom-width: 0;
    }
  }

  .md-grid-head {
    background-color: #f4f4f4;
    border-bottom: 2px solid #53abe6;

    td,
    th {
      padding-top: .08rem;
      padding-bottom: .07rem;
    }

    th {
      color: #999;
      text-transform: uppercase;
      white-space: nowrap;
      text-align: left;
      position: relative;
      padding-right: .07rem;
      padding-left: .08rem;
      &.md-grid-selection {
        text-align: center;
      }
      &.has-sort {
        cursor: pointer;
        text-decoration: underline;
        &:after {
          position: absolute;
          left: 0.01rem;
          display: inline-block;
          color: #bbb;
        }
        &.sort-asc:after {
          content: '↑';
        }
        &.sort-desc:after {
          content: '↓';
        }
      }
    }
  }

  .md-grid-body {
    background: #fff;
    color: #000;
    tr:nth-child(even) {
      background-color: #f9f9f9;
    }
    tr.selected {
      background-color: #80cbc4;
    }
    tr.focused {
      background: #009688;
      color: #fff;
    }
  }
  .md-grid-foot {
    background-color: #fafafa;
    border-top: 1px solid #dfdfdf;
    min-height: .4rem;
  }
}