.md-table-tool{
  background-color: #fcfcfc;
  border-top: 0.0833rem solid #e0e0e0;
  color: rgba(0, 0, 0, 0.54);
  min-height: 4.1rem;
}
.md-table-pagination {
  height:4.1rem;
  display: flex;
  align-items: center;
  -ms-flex-pack: end;
  justify-content: flex-end;
  color: rgba(#000, .54);
  overflow: hidden;

  .md-table-pagination-previous {
    margin-right: 0.1666rem;
    margin-left: 1.5rem;
  }
  .md-table-pagination-info{
      min-width: 6.666rem;
  }

  .md-select {
    width: auto;
    min-width: 3rem;
    margin: 0 1.333rem;

    &:after {
      margin-top: 0;
    }

    .md-select-value {
      padding: 0;
      border: none;
      font-size: 1.3rem;
    }
  }

  .md-button {
    &:not([disabled]) {
      color: rgba(#000, .87);
    }

    &[disabled] {
      .md-icon {
        color: rgba(#000, .26);
      }
    }
  }
}
.md-pagination-select {
  &.md-direction-bottom-right {
    margin-top: -1.333rem;
  }

  .md-list-item-holder {
    font-size: 1.3rem;
  }
}

.md-table-alternate-header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  pointer-events: none;
  opacity: 0;
  transition: $swift-ease-out;
  transition-duration: .3s;

  &.md-active {
    pointer-events: auto;
    opacity: 1;
    transform: translate3D(#000);
  }

  .md-counter {
    margin-left: 0.666rem;
    flex: 1;
  }
}
.md-table {
  display: flex;
  flex-flow: column wrap;
  overflow-x: auto;


  &.md-transition-off {
    .md-table-cell,
    .md-checkbox .md-checkbox-container,
    .md-checkbox .md-checkbox-container:after {
      transition: none !important;
    }
  }

  table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    overflow: hidden;
  }

  tbody .md-table-row {
    border-bottom: 0.0833rem solid #e0e0e0;

    &.md-selected .md-table-cell {
      background-color: #f5f5f5;
    }

    &:hover .md-table-cell {
      background-color: #eee;
    }
  }
  thead.md-table-header{
    background-color: #fcfcfc;
    border-bottom: 0.0833rem solid #e0e0e0;
  }

  .md-table-head {
    padding: 0;
    position: relative;
    color: rgba(#000, .54);
    line-height: 1.333rem;
    text-align: left;

    &:last-child .md-table-head-container .md-table-head-text {
      //padding-right: 2rem;
    }

    &.md-numeric {
      text-align: right;
    }

    .md-icon {
      $size: 1.6rem;

      width: $size;
      min-width: $size/1.2;
      height: $size/1.2;
      min-height: $size/1.2;
      font-size: $size;
      color: rgba(#000, .54);

      &:not(.md-sortable-icon) {
        margin: 0 0.333rem;
      }

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .md-table-head-container {
    height: 4.1rem;
    padding: .8333rem 0;
    width:100%;
    transition: $swift-ease-out;
  }

  .md-table-head-text {
    height: 2.333rem;
    padding-right: 1.333rem;
    padding-left: 0.666rem;
    display: inline-block;
    position: relative;
    overflow: hidden;
    line-height: 2.333rem;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .md-sortable {
    cursor: pointer;

    &:first-of-type {
      .md-sortable-icon {
        left: auto;
        right: 0.8333rem;
      }
    }

    &:hover,
    &.md-sorted {
      color: rgba(#000, .87);

      .md-sortable-icon {
        opacity: 1;
      }
    }

    &.md-sorted {
      .md-sortable-icon {
        color: rgba(#000, .87);
      }
    }

    &.md-sorted-descending {
      .md-sortable-icon {
        transform: translateY(-50%) rotate(180deg);
      }
    }

    .md-sortable-icon {
      position: absolute;
      top: 50%;
      left: 0.1666rem;
      transition: $swift-ease-out;
      transform: translateY(-50%);
      opacity: 0;
      color: rgba(#000, .38);
    }

    .md-ink-ripple {
      color: rgba(#000, .87);
    }
  }

  .md-table-cell {
    height: 4rem;
    position: relative;
    transition: $swift-ease-out;
    color: rgba(#000, .87);
    font-size: 1.3rem;
    line-height: 1.5rem;

    &:last-child .md-table-cell-container {
      //padding-right: 2rem;
    }

    &.md-numeric {
      text-align: right;

      .md-table-cell-container {
        justify-content: flex-end;
      }
    }

    &.md-has-action {
      .md-table-cell-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }

    .md-table-cell-container {
      padding: 0.455rem;
    }

    .md-button {
      &:last-child {
        margin: 0 -0.8333rem 0 0;
      }

      .md-icon {
        $size: 1.8rem;

        width: $size/1.2;
        min-width: $size/1.2;
        height: $size/1.2;
        min-height: $size/1.2;
        margin: 0;
        color: rgba(#000, .54);
        font-size: $size;
      }
    }
  }

  .md-table-selection {
    width: 5rem;
    position: relative;
    vertical-align: middle;

    .md-table-cell-container {
      padding-right: 1.333rem;
      padding-left: 0.666rem;
    }

    .md-checkbox {
      margin: 0;
    }

    .md-checkbox-container {
      width: 1.5rem;
      height: 1.5rem;
      margin-top: 0.0833rem;

      &:after {
        top: -0.0833rem;
        left: 0.333rem
      }
    }
  }

  .md-select {
    min-width: 7rem;
  }

  .md-select-value,
  .md-option {
    font-size: 1.3rem;
  }
}

.md-table-edit-trigger {
  display: inline-block;
  cursor: pointer;
  color: rgba(#000, .38);

  &.md-edited {
    color: rgba(#000, .87);
  }
}

.md-table-dialog {
  max-height: 0;
  margin: 0;
  padding: 0 2rem 0.1666rem;
  position: absolute;
  top: 0;
  right: 0;
  left: 2rem;
  z-index: 60;
  overflow: hidden;
  pointer-events: none;
  border-radius: 0.1666rem;
  box-shadow: $material-shadow-2dp;
  background-color: #fff;
  opacity: 0;
  transition: $swift-ease-out,
              max-height 0s .5s;
  transition-duration: .3s;
  transform: translate3D(0, -666rem, 0);

  &.md-active {
    max-height: 33.333rem;
    pointer-events: auto;
    transform: translate3D(#000);
    opacity: 1;
    transition: $swift-ease-out;
    transition-duration: .3s;
  }

  &.md-large {
    padding: 1rem 2rem 0.1666rem;
  }

  .md-input-container {
    margin-top: 0;
    margin-bottom: 1.333rem;

    &.md-input-placeholder input {
      font-size: 1.3rem;

      &::-webkit-input-placeholder {
        font-size: 1.3rem;
      }
    }
  }

  .md-char-counter {
    font-size: 1.35rem;
    color: rgba(#000, .54);
  }

  .md-button {
    min-width: 5.333rem;
  }
}

.md-table-card {
  overflow: visible;
  border: 0.0833rem solid #e0e0e0;

  .md-toolbar {
    padding-left: 1.333rem;
    background-color: #fff;
  }

  .md-title {
    flex: 1;
    font-size: 2rem;
  }
}
.md-table-card.md-card{
  box-shadow:none
}


.md-table-cell-container{
  .md-input-container{
    margin: 0;
    min-height: 0.8333rem;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 0.5rem 1.333rem 0.5rem 0.666rem;

    &:after{
      height: 0;
    }
    &.md-input-focused:after{
      height:0.1666rem;
    }

    .md-error, .md-count{
      bottom: 0;
    }
  }
}