.md-toolbar {
  min-height: 5.333rem;
  padding: 0 8px;
  display: flex;
  align-items: center;
  align-content: center;
  flex-flow: row wrap;
  position: relative;
  transition: $swift-ease-out;
  transform: translate3D(0, 0, 0);

  &.md-dense {
    min-height: 4rem;

    &.md-medium {
      min-height: 6rem;
    }

    &.md-large {
      min-height: 8rem;
    }

    .md-toolbar-container {
      height: 4rem;
    }
  }

  &.md-medium {
    min-height: 7.333rem;

    .md-toolbar-container:nth-child(2) {
      .md-title:first-child {
        margin-left: 56px;
      }
    }
  }

  &.md-large {
    min-height: 10.666rem;
    align-content: inherit;

    .md-toolbar-container:nth-child(2) {
      .md-title:first-child {
        margin-left: 56px;
      }
    }
  }

  &.md-account-header {
    min-height: 13.666rem;

    .md-ink-ripple {
      color: #fff;
    }

    .md-list-item-container {
      &:hover:not([disabled]) {
        background-color: rgba(#fff, .12);
      }
    }

    .md-avatar-list {
      margin: 16px 0 8px;

      .md-list-item-container {
        align-items: flex-start;
      }

      .md-avatar + .md-avatar {
        margin-left: 16px;
      }
    }
  }

  .md-toolbar-container {
    width: 100%;
    height: 5.333rem;
    display: flex;
    align-items: center;
    align-self: flex-start;

    > .md-button {
      &:first-child {
        margin-left: 0;
        margin-right: 16px;
      }

      + .md-button {
        margin-left: 0;
      }
    }
  }

  > .md-button {
    &:first-child {
      margin-left: 0;
      margin-right: 16px;
    }

    + .md-button {
      margin-left: 0;
    }
  }

  .md-button:hover {
    &:not([disabled]):not(.md-raised):not(.md-icon-button):not(.md-fab) {
      background-color: rgba(#fff, .1);
    }
  }

  .md-title {
    margin: 0;
    font-size: 2rem;
    font-weight: 400;

    &:first-child {
      margin-left: 8px;
    }

    + .md-input-container {
      margin-left: 24px;
    }
  }

  .md-list {
    padding: 0;
    margin: 0 -8px;
    flex: 1;
  }
  .md-header-search{
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 0px;
    input.md-header-search-input{
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(255,255,255,0.3);
      -webkit-transition: all 200ms ease;
      transition: all 200ms ease;
      outline: none;
      border-radius: 3px;
      padding: 8px;
    }
    input.md-header-search-input:hover {
      background: rgba(255,255,255,0.5);
    }
    input.md-header-search-input:focus{
      border-bottom:none !important;
      box-shadow:none !important;
      background: rgba(255,255,255,0.9);
    }
  }
  .md-header-search:after{
    display: none;
  }
}
@include layout-small{
    .md-toolbar>.md-button:first-child{
      margin-right: 0px;
    }
    .md-toolbar .md-toolbar-container>.md-button:first-child{
      margin-right: 0px;
    }
}