@import './mixins';
[class*='md-1px'] {
  position: relative;
  &::after {
    @include hairline()
  }
}
.md-1px {
  &-t::after {
    border-top-width: 1px;
  }
  &-l::after {
    border-left-width: 1px;
  }
  &-r::after {
    border-right-width: 1px;
  }
  &-lr::after {
    border-width: 0px 1px;
  }
  &-b::after {
    border-bottom-width: 1px;
  }
  &-tb::after {
    border-width: 1px 0;
  }
  &-all::after {
    border-width: 1px;
  }
}