$layout-breakpoint-xs: 600px !default;
$layout-breakpoint-sm: 960px !default;
$layout-breakpoint-md: 1280px !default;
$layout-breakpoint-lg: 1920px !default;

$layout-gutter-xs: 8px !default;
$layout-gutter-sm: 16px !default;
$layout-gutter-md: 24px !default;
$layout-gutter-lg: 40px !default;